main {
    padding: 50px;
    width: 100vw;
}

main > article {
    display: flex;
    padding: 30px 30px 30px 0px;    
}

article > h1{
    font-weight: 400;
    font-size: 30px;
}

h1 > input {
    color: #5552F7;
    font-size: 26px;
}

main > table {
    width: 100%;
    height: auto;
    
    border-collapse: collapse;
    border: 1px solid #8b8b8b;
    border-radius: 10px;
}

table > thead {
    width: 100%;
    
    color: #8b8b8B;

    background-color: #f0f0f0;
    border-bottom: 1px solid #8b8b8b;
    border-radius: 10px 10px 0px 0px;
}

table > thead > tr > th {
    font-size: 12px;
    padding: 18px 50px;   
}

table > tbody > tr > td {
    font-size: 12px;
    padding-left: 50px;
    border-bottom: 1px solid #8b8b8b;
    height: 50px;
}


