section > .sidebar {
    display: flex;
}

.sidebar > .sidebar-btn {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
    padding: 25px;
    height: 100vh;
    list-style: none;
}

.sidebar .sidebar-btn li {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    font-size: 20px;
    
    gap: 15px;
    height: 50px;
    width: 250px;

    padding: 20px 15px;
    border-radius: 10px;
}

.sidebar > .sidebar-btn h4 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;

    padding-left: 15px;
    color: var(--grey-500);
}

li > svg {
    color: var(--black-100);
    width: 30px;
    height: auto;
}

.sidebar > .sidebar-btn > li:hover {
    background: var(--blue-100);
    color: var(--white-1000);
    transition: 0.2s;
}

.sidebar > .sidebar-btn > li:hover svg {
    color: var(--white-1000);
    transition: 0.2s;
}

.sidebar > .sidebar-btn > li:hover a {
    color: var(--white-1000);
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: var(--black-100);
}