* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  font-family: "Inter", sans-serif;
}

:root {
  --black-100:  #000;
  --white-1000: #fff;
  --blue-100:   #5552F7;
  --blue-500:   #0400ff;
  --grey-500:   #8b8b8b;
  --grey-1000:  #f0f0f0;
}

input, textarea {
  font-family: Arial, sans-serif; /* mesma fonte do parágrafo */
  font-size: 1  6px;              /* mesmo tamanho de fonte */
  color: #333;                  /* mesma cor de texto */
  border: none;
  background-color: transparent;  /* fundo transparente */
  padding: 5px 10px;              /* preenchimento semelhante */
  margin-bottom: 10px;            /* mesma margem inferior */
  margin: 0;
}